
  
body{
    background:#f5f6fd;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}
.weather-app{
    background: white;
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    box-shadow: 8px 10px 16px rgba(3, 3, 3, 0.2);
    border-radius: 10px;
}

.search-form-input{
    background: #f5f6fd;
    border: none;
    width: 80%;
    
}
.search-form-input, .search-form-button{
    border-radius: 10px;
    padding:16px;
    font-size: larger;
}
.search-form-button{
    width: 100px;
    background-color: rgb(197, 48, 202);
    border: none;
    color: white;
    
}
.search-form-button:hover{
    
    background-color: rgba(197, 48, 202, 0.596);
    
}
a{
    color: rgb(197, 48, 202);
    text-decoration: none;
}
a:hover{
    color:rgba(197, 48, 202, 0.596)
}
a:hover, .search-form-button:hover{
    cursor: pointer;
    transition: ease-in-out 140ms;
}

footer{
    font-size: 14px;
    padding: 30px 0 0 0;
    color: #b3b4be;
}
.weather-app-content{
    display: flex;
    justify-content: space-between;
}
p{
    margin: 0;
}
.current-weather-emoji, .current-weather{
    font-size: 90px;
}

.humidity-wind{
    color: #46464b77;
    
}
.humidity-value, .wind-value{
    color: rgb(38, 190, 190);
}
hr{
    margin-top: 30px;
    background-color:  #f5f6fd;
    border: none;
    height: 1px;
    
}
h1{
    margin-bottom: 0px;
}
.current{
    margin-top: 30px;
}